name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.1
    - name: Run awesome_bot
      run: |
        gem install awesome_bot
        awesome_bot --skip-save-results README.md
